In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv('3D_spatial_network.txt')

In [3]:
data.head()

   144552912  9.3498486  56.7408757  17.0527715677876
0  144552912   9.350188   56.740679         17.614840
1  144552912   9.350549   56.740544         18.083536
2  144552912   9.350806   56.740484         18.279465
3  144552912   9.351053   56.740486         18.422974
4  144552912   9.351475   56.740502         19.124889

In [4]:
data.columns=['Drop','Latitude','Longitude','Altitude']

In [5]:
data.drop('Drop', axis=1, inplace=True)

In [6]:
data['Latitude']=(data['Latitude']-data['Latitude'].mean())/data['Latitude'].std()
data['Longitude']=(data['Longitude']-data['Longitude'].mean())/data['Longitude'].std()
data['Altitude']=(data['Altitude']-data['Altitude'].mean())/data['Altitude'].std()
data.head()

   Latitude  Longitude  Altitude
0 -0.609440  -1.100650 -0.258290
1 -0.608855  -1.101086 -0.233452
2 -0.608437  -1.101282 -0.223068
3 -0.608035  -1.101276 -0.215463
4 -0.607351  -1.101224 -0.178266

In [7]:
data.head()

   Latitude  Longitude  Altitude
0 -0.609440  -1.100650 -0.258290
1 -0.608855  -1.101086 -0.233452
2 -0.608437  -1.101282 -0.223068
3 -0.608035  -1.101276 -0.215463
4 -0.607351  -1.101224 -0.178266

In [8]:
data.dropna(axis=0, how='any', inplace=True)

In [9]:
data.size

783468

In [10]:
n= data['Latitude'].size
x1=[]
x1=data['Latitude'].iloc[:]
x2=[]
x2=data['Longitude'].iloc[:]
y=[]
y=data['Altitude'].iloc[:]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x1_train, x1_test, x2_train, x2_test, y_train, y_test=train_test_split(x1, x2, y, test_size=0.3)

In [13]:
def lin(x1,x2, y):
    N= len(x1)
    sig_x1= sum(x1)
    sig_x2= sum(x2)
    sig_y= sum(y)
    x11= sum(x1*x1)
    x22= sum(x2*x2)
    x12= sum(x1*x2)
    yx1= sum(x1*y)
    yx2= sum(x1*y)
    A=[[N, sig_x1, sig_x2],[sig_x1, x11, x12],[sig_x2, x12,x22]]
    Ainv= np.linalg.inv(A)
    B=[[sig_y],[yx1],[yx2]]
    res= [[sum(a*b for a, b in zip(Ainv_row, B_col)) for B_col in zip(*B)] for Ainv_row in Ainv]
    return res

In [14]:
def r_sq(w0, w1, w2,x1, x2, y):
    
    y_curr=w0+w1*x1+w2*x2
    avg= sum(y)/len(y)
    sse= sum(data**2
             for data in(y_curr-y))
    ssr= sum(data**2
              for data in(y_curr-avg))
    return ssr/(sse+ssr)

In [15]:
ans= lin(x1_train,x2_train, y_train)
a,b,c= ans[0],ans[1],ans[2]

In [16]:
a,b,c

([0.0025206345316029027], [0.03749457698465109], [0.04948838014751241])

In [17]:
r2= r_sq(a,b,c,x1_train,x2_train,y_train)

In [18]:
r2

0.005504235017707973